body {
  background: linear-gradient(#fff1eb, #ace0f9) fixed;
  font-family: "Dosis", sans-serif;
}

a {
  color: #ff9e9e;
}
.my-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(59, 24, 59, 0.08);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 2px solid #80bcbd;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #bed7dc;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 13px 30px;
  font-size: 20px;
  color: cornsilk;
}

.search-form-button {
  background-color: #b5c0d0;
  padding: 15px 20px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  margin-left: 6px;
  color: cornsilk;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: #e5ba73;
  line-height: 24px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #00a9ff;
}

.weather-app-temp-container {
  display: flex;
}
.app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  margin-left: 10px;
}
.app-icon {
  width: 88px;
  height: 88px;
}
.app-unit {
  margin-top: 6px;
  font-size: 28px;
}
footer {
  border-top: 2px solid #80bcbd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.6);
}
